body{
   text-align: center;
   color: #F8B195;
   background-color: #F67280;


}
h1{
    text-align: center;
    color: #C06C84;
    background-color:#6C5B7B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    text-align: center;
    color: #355C7D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;}

   
.Baladi1-1-hex { color: #F8B195; }
.Baladi1-2-hex { color: #F67280; }
.Baladi1-3-hex { color: #C06C84; }
.Baladi1-4-hex { color: #6C5B7B; }
.Baladi1-5-hex { color: #355C7D; }


